.products {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products__category {
  padding: 10px 30px;
}

.products__category__title {
  font-size: 1.3em;
  text-transform: capitalize;
}

.products__category__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

