* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background: rgb(244, 244, 244);
}

.block {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.block__title {
  color: rgb(74, 73, 73);
}

.block__cards {
  width: 100%;
}


